<h2>Shipping Instructions</h2>
<p>Click here to securely access the shipping instructions, packing slip you must include in your parcels, and tips on safely packing your metals:</p>
<p class="aligncenter">
    <a href="\{{sellOrder.instructionsUrl}}">Metal Shipping Instructions for Order \{{sellOrder.orderId}}</a>
</p>
<p>Your metals will be inspected by our warehouse team. If they differ from what was described when you placed this order, the order will be automatically adjusted:</p>
<ul>
    <li>Added items will be purchased at then-current market prices.</li>
    <li>Missing items will be removed or the quantity adjusted (and may be subject to market loss charges, so please include all indicated items).</li>
</ul>
<p>Reminder: Confirmed, price-locked orders may not be cancelled. <a href="{{default.termsUrl}}">Terms of purchase and sale</a>.</p>
