<p><b>Requested from:</b></p>
<p>Location: \{{userRequest.location}}<br>IP Address: \{{userRequest.ipAddress}}<br>Time: \{{userRequest.dateTime}}</p>
<p><b class="text-danger">Didn't request this change?</b></p>
<p>If you did not make or do not recognize this request, please click the following link to secure your account:</p>
<p><a href="\{{userRequest.lockUrl}}">I did NOT request this change</a></p>
<p>Clicking this link will immediately lock your account and sign you out of all devices.  <span class="underline">You will be required to reset your password</span> to unlock your account.</p>
