---
layout: default.hbs
subject: Order Cancelled
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            This is a stub
        </td>
    </tr>
    <tr>
        <td class="content-block">
            \{{#if market_loss_change}}
                <p>\{{ payment_receipt }}</p>
            \{{/if market_loss_change}}
        </td>
    </tr>
</table>
