---
layout: default.hbs
subject: Payment Instructions Check
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            This is a stub
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Please send your personal or business check to our payment address as soon as possible.</p>
            <p><b>Be sure</b> to add your account/order number to the memo field of the check to ensure fastest processing.</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p><b>Amount due: $\{{ amount_due }}</b></p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>
                Payable to: GoldSilver, LLC<br>
                Memo field: Order #\{{ order_id }}
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>
                Mailing address:<br>
                GoldSilver LLC<br>
                909 3rd Avenue, #8525<br>
                New York, NY, 10150
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>
                Note:
                <ul>
                    <li>All checks are held for a minimum of 5 business days before orders are released for shipment. We apologize for the inconvenience, but check fraud is a very real problem for businesses like ours.</li>
                    <li>We are unable to accept money orders or cashier’s checks in any amount; checks must be drawn on a personal or business account at a US bank only. All checks must be denominated in US Dollars (USD).</li>
                    <li>Orders not paid promptly may be subject to cancellation and market-loss fees.</li>
                </ul>
            </p>
        </td>
    </tr>
</table>
