---
layout: default.hbs
subject: 'We Need More Information for Order {{buyOrder.orderId}}'
preheader: 'We Need Additional Information to Process Your Order'
date: '{{buyOrder.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>We Need Additional Information to Process Your Order</h1>
            <p>All GoldSilver.com orders are subject to review for security and compliance.</p>
            <p><b>Your recent order \{{buyOrder.orderId}} requires additional documentation before it can be completed.</b></p>
            <p>This is an automated message to let you know a member of our team will be reaching out to verify your identity. Please be on the lookout for a message or call from us with the details, and reply to them promptly so we can release your order for processing.</p>
            <p><span class="underline">These security checks are routine and done both when flagged and at random</span>. They are done to help protect our customers and there is nothing to be concerned about (your price is locked and will not be affected).</p>
            <p>The checks include helping to prevent instances of identity theft and fraud, as well as compliance with regulations that require us to positively identify the customers with whom we do business.</p>
            <p>Documentation requests may include, but are not limited to:</p>
            <ul>
                <li>a photograph of your current government-issued identification,</li>
                <li>a utility bill or bank statement which verifies your address, or</li>
                <li>a voided check to ensure ownership of requested bank connections.</li>
            </ul>
            <p>Note: If we are unable to reach you or get the appropriate documentation, your order may be cancelled. In some cases,  market loss charges may apply.</p>
            <p>We apologize for the inconvenience. However, we trust you can understand that various regulations designed to combat money laundering and the financing of terrorism apply to the sale of precious metals and other monetary assets, such as the “Know Your Customer” provisions of the Patriot Act and the Office of Foreign Assets Control (OFAC) watch lists. These same steps also help us protect our customers and curb frauds like identity theft and stolen cards or bank account credentials, which enable us to keep prices low and prevent problems for the potential victims. We take these responsibilities seriously, and these extra steps are sometimes necessary to ensure we’ve properly documented that we are dealing with legitimate customers.</p>
            <p><b>Thank you for taking the time to help us make the web safer for all.</b></p>
        </td>
    </tr>
</table>
