---
layout: default.hbs
subject: 'Order Received, Transfer {{transferOrder.orderId}}'
preheader: 'We have received your transfer order'
date: '{{transferOrder.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Transfer Order is Being Processed</h1>
            <p>We have received your transfer order \{{transferOrder.orderId}}; details are below for your reference.</p>
            <p><strong>All transfer requests are subject to a brief security review, in order to ensure the security and integrity of your assets.</strong></p>
            <p>We may require verification of certain items like new delivery addresses. Once your order has been approved, it will be sent to the vault for processing and distribution.</p>
            <p>Note that our vaults are high security facilities, where every order is carefully processed and audited, and are not set up for volume shipping. <span class="underline">Shipments are typically dispatched in 3-5 business days</span>, but it can take a bit longer when markets are busy. Thank you for your patience; we will keep you updated as your transfer is processed.</p>
            {{> order-transfer-summary}}
        </td>
    </tr>
</table>
