---
layout: default.hbs
subject: Awaiting Payment Notice
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <p>
                Will be sent to the customer after a certain amount of days awaiting payment for an order. The interval needs to be defined on a per payment method basis (check or wire).  The first and second notices will be sent automatically while we awaiting payment on the defined interval, and the final notice will be sent manually by an admin.  We could add conditional logic to change language/intensity in the template based on how many notices have been sent already.  Payment instructions will be included.
            </p>
            \{{#if final_notice }}
                <p>THIS IS YOUR FINAL NOTICE</p>
            \{{/if }}
            <p>\{{ payment_instructions }}</p>
        </td>
    </tr>
</table>
