---
layout: default.hbs
subject: Order Cancelled
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            \{{#each trader }}
                \{{ packing_slip }}
                \{{ expected_metals_list }}
            \{{/each}}
        </td>
    </tr>
</table>
