---
layout: default.hbs
subject: 'Important: Account Locked'
preheader: Reset your password to unlock your account.
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Your account has been locked.</h1>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Customer service has been notified that you've reported an unauthorized change to your account, and your account has been locked to prevent further activity.</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Please reset your password to unlock your account:</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p><a href="\{{ reset_your_password }}">Reset Your Password</a></p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Contact customer support if you have any questions or concerns.</p>
        </td>
    </tr>
</table>
