---
layout: default.hbs
subject: 'Your Email Address Has Been Updated'
preheader: 'Please note this will also change the username you use to sign into the GoldSilver website.'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Your Account’s Email Address Has Been Changed</h1>
            <p>We received a request to update the email address of record for your GoldSilver.com account.</p>
            <p>Prior email (this address): \{{userEmailChange.oldEmail}}<br>New Email: \{{userEmailChange.newEmail}}</p>
            <p><b>Please note</b> this will also change the username you use to sign into the GoldSilver website and phone app, as your (new) email is your username.</p>
            {{> user-request-info}}
        </td>
    </tr>
</table>
