---
layout: default.hbs
subject: 'Important: Account Locked'
preheader: 'Reset your password to unlock your account.'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Your Account Has Been Locked</h1>
            <p>You reported an unauthorized change to your GoldSilver.com account, and your account has been locked to prevent further activity or unauthorized access.</p>
            <p>To unlock your account, you must reset your password:</p>
            <p class="aligncenter"><a href="\{{userPasswordChange.tokenizedUrl}}" class="btn btn-primary">Reset Your Password</a></p>
            <p>If you have any questions, please reply to this email or contact customer service.</p>
        </td>
    </tr>
</table>
