---
layout: default.hbs
subject: Welcome to GoldSilver, your sign in information
preheader: Important information about your new sign in.
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            This is a stub
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <h1>Important information about your new sign in.</h1>
            <p>Thank you for registering a new user account with GoldSilver. With your new account you can easily set up storage in our vaults around the world, buy precious metals for delivery, or sell to us, all with ease.</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Just a few tips to help you get the most out of your new account:</p>
            <ol>
                <li>Your username to access our apps will be this email address. </li>
                <li>If you ever forget the password you set, you can reset it any time from our site.</li>
                <li>Keep your email secure to help safeguard your GoldSilver account as well.</li>
                <li>Please do not share your login.</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>If you ever need assistance with your account, please reach out to our customer service team.</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <a href="\{{ sign_in_to_new_account }}">Sign in to your new account</a>
        </td>
    </tr>
</table>
