---
layout: default.hbs
subject: 'Important: Password Changed'
preheader: 'This notification is a security precaution against unauthorized changes.'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Your Password Has Changed</h1>
            <p>Your password at GoldSilver.com was recently changed.</p>
            <p>We send this email as a security precaution against unauthorized changes.  If you made the request, you can safely ignore this email.</p>
            {{> user-request-info}}
        </td>
    </tr>
</table>
