---
layout: default.hbs
subject: 'Password reset request'
preheader: 'We received a request to reset the password for account {{userPasswordChange.email}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Need to Change Your GoldSilver Password?</h1>
            <p>We received a request to reset the password for account \{{userPasswordChange.email}}. If you sent this request, please follow this link to set a new password:</p>
            <p class="aligncenter"><a href="\{{userPasswordChange.tokenizedUrl}}" class="btn btn-primary">Change My GoldSilver Password</a></p>
            <p>For your safety, this link will expire in 72 hours or after one use. After that, simply submit the “Forgot Password” form again to get a fresh copy of this email with a working link.</p>
            <p>If you did not request this password reset, please ensure your email account is secure and <a href="{{default.supportEmail}}">contact customer service</a> if you have any additional questions.</p>
        </td>
    </tr>
</table>
